@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

* {
    user-select: none;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#appContainer{
    width: 100%;
}

.horizontalSeparator{
    height: 3px;
    width: 100%;
    background-color: #30C448;
}

.hidden{
    display: none !important;
}

.errorBox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage{
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 58, 58);
}