#app-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    width: 100%;
    background-color: #151515;

    font-weight: 800;
    font-size: 20px;
    padding: 10px, 20px;
    
}

#app-head-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
}

#app-head-content #findElements{
    margin-left: auto;
    margin-right: 20px;
    float: right;
}

#app-title{
    margin-left: 30px;
}